header,
nav,
footer {
    margin: 1.25rem;
    max-width: 760px;
}

body {
    font-size: 18px;
    line-height: 1.5;
    background-color: rgb(243, 243, 243);
    width: auto;
}

header,
footer {
    padding: 1em;
    color: White;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkred;
    text-align: center;
    margin: 0px;
}

h1 {
    margin: 20px;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}

img {
    border-radius: 10px;
    box-shadow: 6px 6px 3px rgb(153, 153, 153);
}

hr.solid {
    border-top: 1px solid #bbb;
}

.linklist,
li {
    margin: 5px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-weight: 700;
}

#currentdate {
    color: rgb(29, 230, 179);
}

a:link,
a:visited {
    color: rgb(14, 136, 116);
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    color: rgb(13, 207, 175);
}