@media only screen and (min-width: 540px) {
    header img {
        width: 10rem;
        height: auto;
    }
    .headings h1 {
        font-size: 3rem;
    }
    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:nth-child(-n+2) {
        display: none;
    }
}