@media only screen and (min-width: 768px) {
    header img {
        width: 10rem;
        height: auto;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .m {
        letter-spacing: 1.5pt;
        font-size: 2rem;
        margin-left: 17px;
    }

    main {
        margin-top: 0
    }

    nav {
        max-width: 100%
    }

    .navigation {
        margin-top: -1px;
        display: inline-flexbox;
        justify-content: center;
        margin: 0 auto;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        padding: 1em;
    }

    .navigation li:nth-child(1) {
        display: none;
    }

    .weather-sum {
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 10%;
        right: 60%;
    }
    
    .contact-info {
        max-width: 780px;
        margin: auto;
    }

    #towns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        margin-left: -10%;
        margin-right: -10%;
    }
    
    #towns section {
        display: block;
    }
}