body {
    font-family: 'Antic Slab', sans-serif;
    font-size: 14px;
    text-align: center;
}
p { 
    line-height: 0.5rem;
}
h1 {
    font-family: 'Montserrat', serif;
    font-size: 36px;
    color: #197D4B;
    margin: .75rem;
}
h2 {
    font-family: 'Montserrat', serif;
    font-size: 21px;
    color: #197D4B;
    margin: .75rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.25rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(241, 241, 241);
    box-shadow: 1px 1px 20px black;
}

section {
    background-color: #93E9BE;
    border: solid 1px #197D4B;
    padding: 1rem;
    margin: 0;
}

section img {
    max-width: 80%;
    box-shadow: 7px 7px 9px rgba(0, 0, 0, 0.479);
    margin: auto;
}

footer {
    margin: 2rem;
    font-size: 1rem;
}