header,
footer,
nav {
    max-width: 100%;
}

body {
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

footer,
header div {
    background: #00547A;
    padding: 1em;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

footer,
header div h1,
header div h2 {
    color: white;
}

footer p {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

p {
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

.friday {
    display: none;
}

.show_announcement {
    display: block;
}

.friday p {
    font-weight: 400;
    margin: auto;
    padding: 1.5rem;
    background-color: #f2f3b3;
    border: 1px solid #104F93;
}

header {
    background-color: #104F93;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 1em;
}

.headings {
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #c96B11;
    text-shadow: rgb(66, 66, 66) 1px 1px;
    text-align: center;
}

h2,
h3,
h4 {
    margin: 0 0 0.5em 0;
    color: #f9ab4f;
    text-shadow: #c96B11 1px 1px;
}

.headings h1 {
    color: white;
    font-size: 1.6em;
    margin: 0 0 0 17px;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #f2f3b3;
    margin-left: 20px;
    font-size: .9rem;
    font-family: 'Antic Slab', serif;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

.menu {
    color: white;
    margin: 0;
    padding: 0.2em 1em;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.navigation li:nth-child(1) {
    display: block;
    margin: 0;
    padding: 0.5em .5em;
    font-family: 'Antic Slab', serif;
    font-size: 18px;
    color: white;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #00547A;
}

.navigation {
    list-style: none;
    padding: 0px;
    margin-top: 1px;
    max-width: 760px;
    color: white;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.responsive li {
    display: block;
    font-family: 'Antic Slab', serif;
    padding: auto;
}

main {
    max-width: 760px;
    margin: auto;
    padding: 1em 1em 0 1em;
    margin-top:-16px
}

.hero {
    position: relative;
}

picture img {
    max-width: 100%;
}

hr {
    border: 1px solid #f9ab4f;
    margin: .2em 0;
}

.article {
    text-align: center;
    margin: 1em 0 1em 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 1em;
}

.article p {
    text-align: justify;
    margin: 0;
}

.article img {
    max-width: 250px;
    margin: 0 1em;
    border-radius: 5px;
}

.contact-info {
    background-color: #104F93;
    max-width: 100%;
    color: white;
    padding: 1em;
    border-bottom: 2px solid white;
}

.contact-info p {
    padding: 0 1em;
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.info {
    padding: 0 1em;
    grid-column: 1/2;
}

.preston_map {
    display: none;
}

.social_media {
    margin: auto
}

.social_media img {
    max-width: 2.8rem;
    padding: .5rem 0.1rem;
    border-radius: 15px;
    grid-column: 2/3;
}

#currentdate,
#link,
#link1 {
    color: rgb(29, 230, 179);
}

#link1 {
    color: black;
}

a:link,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover,
a:active {
    color: #0DE6B3
}

.active {
    background-color: #2F2A2A;
    border: 1px solid #ccc;color:#f9ab4f;
    text-shadow: #c96B11 1px 1px;
    cursor: default;
}

.navigation a:hover {
    background-color: #2F2A2A;
    border: 1px solid #ccc;
    color:#f9ab4f;
    text-shadow: #c96B11 1px 1px;
}

#towns {
    margin-top: 5rem;
}
  
#towns section {
    background-color: lightgray;
    padding: 2rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
  
#towns section div {
    padding: 0.5rem;
}
  
#towns section img {
    box-shadow: 1px 1px 10px black;
    max-width: 100%;
    margin: 1rem 0;
}