header,
footer,
nav {
    max-width: 100%;
}

body {
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

footer,
header div {
    background: #00547A;
    padding: 1em;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

footer,
header div h1,
header div h2 {
    color: white;
}

footer p {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

p {
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

.friday {
    display: none;
}

.show_announcement {
    display: block;
}

.friday p {
    font-weight: 400;
    margin: auto;
    padding: 1.5rem;
    background-color: #f2f3b3;
    border: 1px solid #104F93;
}

header {
    background-color: #104F93;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 1em;
}

.headings {
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #c96B11;
    text-shadow: rgb(66, 66, 66) 1px 1px;
    text-align: center;
}

h2,
h3,
h4 {
    margin: 0 0 0.5em 0;
    color: #f9ab4f;
    text-shadow: #c96B11 1px 1px;
}

.headings h1 {
    color: white;
    font-size: 1.6em;
    margin: 0 0 0 17px;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

.motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #f2f3b3;
    margin-left: 20px;
    font-size: .9rem;
    font-family: 'Antic Slab', serif;
    text-shadow: rgb(66, 66, 66) 1px 1px;
}

.menu {
    color: white;
    margin: 0;
    padding: 0.2em 1em;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.navigation li:nth-child(1) {
    display: block;
    margin: 0;
    padding: 0.5em .5em;
    font-family: 'Antic Slab', serif;
    font-size: 18px;
    color: white;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #00547A;
}

.navigation {
    list-style: none;
    padding: 0px;
    margin-top: 1px;
    max-width: 760px;
    color: white;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.responsive li {
    display: block;
    font-family: 'Antic Slab', serif;
    padding: auto;
    
}

main {
    max-width: 1068px;
    margin: auto;
    padding: 1em 1em 0 1em;
    margin-top:-16px
}

.report-form {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
}

fieldset {
    display: block;
    padding: 0.75em;
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin: 1rem 0 0 0;
}

form legend {
    color: #c96B11;
    text-shadow: rgb(66, 66, 66) 1px 1px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

form label.info {
    display: block;
    margin: 0.5rem 0 0 0;
    color: #00547A;
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

form input, form select {text-align: center;
    margin: 0 .5rem 0 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c96B11;
    color: black;
    outline: none;
    padding: 0.5rem;
    font-family: 'Antic Slab', serif;
    font-size: 18px;
}

#storm-severity {
    color: #c96B11;
    padding: 0
}

label {
    cursor: pointer;
}

input:required {
    border-bottom: 1px solid #ff0000;
}

.message, .report-form{
    background-color: #ffffff;
    padding: 1.5rem;
    margin: 1em 0 1em 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.btn1 {
    border: 1px solid rgb(87, 86, 86);
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    cursor: pointer;
    
}

p .btn1 {
    color: black;
}

.right-btn {
    margin:1rem 1rem 0 0;
    display:flex;
    justify-content: flex-end;
    grid-column: 1;
}

a:link,
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover,
a:active {
    color: #0DE6B3
}

.btn1:link, 
.btn1:visited {
    color: black;
    text-decoration: none;
}
.btn1:hover,
.btn1:active {
    color: bl
}

#currentdate,
#link {
    color: rgb(29, 230, 179);
}


.active {
    background-color: #2F2A2A;
    border: 1px solid #ccc;color:#f9ab4f;
    text-shadow: #c96B11 1px 1px;
    cursor: default;
}
.navigation a:hover {
    background-color: #2F2A2A;
    border: 1px solid #ccc;
    color:#f9ab4f;
    text-shadow: #c96B11 1px 1px;
}