@media only screen and (min-width: 540px) {
    header img {
        width: 10rem;
        height: auto;
    }
    .headings h1 {
        font-size: 2rem;
    }
    .m {
        letter-spacing: 1.5pt;
        font-size: 2rem;
        margin-left: 17px;
    }
    .navigation {
        margin-top: -1px;
        display: flex;
        justify-content: center;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    #myDIV {
        display: none;
    }
    .weather-sum {
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .forecast {
        margin: 1rem 3rem;
        text-align: center;
        display: block;
    }
    .col-head {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        text-align: center;
    }
    .forecast img {
        max-width: 100%;
        border-radius: 100px;
    }
    .col-head,
    th {
        font-weight: 700;
        font-size: 1rem;
        background-color: #00547A;
        color: white;
    }
    .temperature {
        color: black
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(87px, 1fr));
    }
    .grid-col {
        background-color: white;
        border: 1px solid rgba(32, 31, 31, 0.726)
    }
    .article img {
        float: right;
        max-width: 10.5rem;
        margin: 0 0 0 1em;
        border-radius: 5px
    }
    .contact-info {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .contact {
        display: block
    }
    .contact-info p {
        padding: 0 1em;
    }
    .preston_map {
        display: block;
        width: 100%;
        grid-row: 1/2;
    }
    .social_media {
        margin: auto;
        padding: 0 2em
    }
}